apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ModuleName }}
spec:
  selector:
    matchLabels:
      app: {{ .ModuleName }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .ModuleName }}
    spec:
      containers:
      - image: {{ .Deployment.DockerHubUsername }}/{{ .ModuleName }}
        imagePullPolicy: Always
        name: {{ .ModuleName }}
        ports:
          - containerPort: 3000
        env:
        {{- range $name, $value := .Env }}
          - name: {{ $name }}
            valueFrom:
              configMapKeyRef:
                name: {{ $.ModuleName }}-config
                key: {{ $name }}
        {{- end }}