{{ .ModuleName }} - Backend service

## 1. Getting started

1. Input the corresponding ENV.
    1. b. We might want to modify `zen.yaml` for extra functionality.
2. Run `make migrate` for the dbmate to generate the PostgreSQL schema.sql.
3. Run `make gen` to generate boilerplate code.
4. Code the rest, mostly the services.