{{ .ModuleName }} - Backend service

## 1. Getting started

1. Input the corresponding ENV.
    1. b. We might want to modify `zen.yaml` for extra functionality.
2. Run `make migrate` for the dbmate to generate the PostgreSQL schema.sql.
3. Run `make gen` to generate boilerplate code.
4. Code the rest, mostly the services.
5. Run the service with `make server`

## 2. Testing with cURL

```
curl localhost:3000/api/v1/auth/signup -X POST -d '{"username":"tester", "password":"123123123", "password_confirmation":"123123123"}'
curl localhost:3000/api/v1/auth/signin -X POST -d '{"username":"tester", "password":"123123123"}'
```

