{{- define "partial.query.user.sql.tmpl" }}

-- users
-- name: FindUserById :one
SELECT * FROM users
WHERE id = $1 LIMIT 1;

-- name: FindUserByUsername :one
SELECT * FROM users
WHERE username LIKE '%' || $1 || '%' LIMIT 1;

-- name: FindAllUsers :many
SELECT * FROM users
ORDER BY created_at;

-- name: FindUsersByUsername :many
SELECT * FROM users
WHERE username LIKE '%' || $1 || '%'
ORDER BY created_at
LIMIT $2
OFFSET $3;

-- name: CreateUser :one
INSERT INTO users (
    first_name,
    last_name,
    username,
    password_hashed,
    password_salt,
    status,
    created_by,
    updated_by,
    deleted_by,
    created_at,
    updated_at,
    deleted_at
) VALUES (
    $1, 
    $2,
    $3,
    $4,
    $5,
    $6,
    $7,
    $8,
    $9,
    NOW(),
    NOW(),
    NOW()
)
RETURNING *;

-- name: UpdateUser :one
UPDATE users
SET 
    first_name = $2,
    last_name = $3,
    username = $4,
    password_hashed = $5,
    password_salt = $6,
    status = $7,
    updated_by = $8,
    updated_at = NOW()
WHERE id = $1
RETURNING *;

-- name: DeleteUser :exec
DELETE FROM users
WHERE id = $1;

{{- end }}