{{- define "query.sql.tmpl" }}
-- Query
{{- range .Databases }}
    {{- if eq .Type "postgres" }}
        {{- template "partial.query.user.sql.tmpl"}}

        {{- range $modelName, $model := .Models }}
            {{- template "partial.query.model.sql.tmpl" $model }}
        {{- end }}

    {{- end }}
{{- end }}
{{- end }}