{{- define "query.sql.tmpl" }}
-- Query
{{- range .Databases }}
    {{- template "partial.query.user.sql.tmpl"}}

    {{- range $index, $model := .Models }}
        {{- template "partial.query.model.sql.tmpl" $model }}
    {{- end }}

{{- end }}
{{- end }}