package postgres 

import "database/sql"

func ToNullString(input *string) sql.NullString {
	if input == nil {
		return sql.NullString{Valid: false}
	}
	return sql.NullString{String: *input, Valid: true}
}

func ToNullableString(input string) *string {
	return &input
}