package config

type Config struct {
{{- with .Env }}
	{{- range . }}
	{{ if .StructName }}{{ .StructName }}{{ else }}{{ .Name | lower | camelcase }}{{ end }} {{ .Type }} `mapstructure:"{{ .Name }}"`
	{{- end }}
{{- end }}
}
