package cmd

import (
	"context"
	"fmt"
	"log"
	"net/http"
	"os"
	"os/signal"
	"{{ .ModuleName }}/api"
	"{{ .ModuleName }}/api/gen"
	"{{ .ModuleName }}/auth"
	"{{ .ModuleName }}/config"
{{- if .HasPostgres }}
	"{{ .ModuleName }}/db/postgres"
{{- end }}
{{- if .HasMongo }}
	"{{ .ModuleName }}/db/mongo"
{{- end }}
{{- range $index, $resource := $.Api.Resources }}
	"{{ $.ModuleName }}/{{ $resource.ModelRef | singularize | snakecase }}"
{{- end }}
	"{{ .ModuleName }}/user"
	"time"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
	_ "github.com/lib/pq"
	"github.com/spf13/cobra"
)

var {{ .Command }}Cmd = &cobra.Command{
	Use:   "{{ .Command }}",
	Short: "Start API server",
	Long:  `Start API server`,
	Run:   RunCommand,
}

func init() {
	rootCmd.AddCommand({{ .Command }}Cmd)
}

func RunCommand(cmd *cobra.Command, args []string) {

	config := config.Init()
	postgresDB := postgres.Init(config)
	// mongoDB := mongo.Init(config)

	e := echo.New()
	g := e.Group("/api/v1")

	jwtKey := config.JWTKey
	if len(jwtKey) == 0 {
		jwtKey = "MEZGMEFDRTYtRTEyRS00RTdGLUJCNjYtMTVGODc4RUE4NjIyCg=="
	}

	authenticator := api.NewAppAuthenticator(jwtKey)

	authMiddleware, err := api.CreateAuthMiddleware(authenticator)

	if err != nil {
		log.Fatal(err)
	}

	e.Use(middleware.CORS())
	g.Use(middleware.CORS())
	g.Use(authMiddleware...)
	g.Use(middleware.Logger())

	userRepo := user.NewRepo(postgresDB)

	userService := user.NewService(&userRepo)
	authService := auth.NewService(authenticator, userService)

{{ range $index, $resource := .Api.Resources }}
	{{- if eq $resource.Database.Type "postgres" }}
	{{ $resource.ModelRef | untitle | singularize }}Repo := {{ $resource.ModelRef | untitle | singularize }}.NewRepo(postgresDB)
	{{- else if $resource.Database.Type "mongo" }}	
	{{ $resource.ModelRef | untitle | singularize }}Collection := mongoDB.Database(config.MongoDatabase).Collection("{{ $resource.ModelRef }}")
	{{ $resource.ModelRef | untitle | singularize }}Repo := {{ $resource.ModelRef | untitle | singularize }}.NewRepo({{ $resource.ModelRef | untitle | singularize }}Collection)
	{{- end }}
{{ end }}

{{ range $index, $resource := .Api.Resources }}
	{{ $resource.ModelRef | untitle | singularize }}Service := {{ $resource.ModelRef | untitle | singularize }}.NewService(&{{ $resource.ModelRef | untitle | singularize }}Repo)
{{ end }}

	serverImpl := api.NewServerImpl(
		authService,
		{{- range $index, $resource := .Api.Resources }}
		{{ $resource.ModelRef | untitle | singularize }}Service,
		{{- end }}
	)

	gen.RegisterHandlersWithBaseURL(e, &serverImpl, "api/v1")

	go func() {
		if err := e.Start(fmt.Sprintf("0.0.0.0:%d", config.Port)); err != nil && err != http.ErrServerClosed {
			e.Logger.Fatal("shutting down the server")
		}
	}()

	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt)
	<-quit
	ctx, cancel := context.WithTimeout(context.Background(), 10*time.Second)
	defer cancel()
	if err := e.Shutdown(ctx); err != nil {
		log.Println("Cannot shutdown")
		e.Logger.Fatal(err)
	}

	log.Println("Shutting down")
}
