package cmd

import (
	"context"
	"fmt"
	"log"
	"net/http"
	"os"
	"os/signal"
	"{{ .ModuleName }}/api"
	"{{ .ModuleName }}/api/gen"
	"{{ .ModuleName }}/auth"
	"{{ .ModuleName }}/config"
	"{{ .ModuleName }}/db/postgres"
	// "{{ .ModuleName }}/db/mongo"
{{- range $serviceName, $apiPaths := .ServiceOperationMap }}
	{{- if not (eq $serviceName "Auth") }}
	"{{ $.ModuleName }}/{{ $serviceName | snakecase }}"
	{{- end }}
{{- end }}
	"{{ .ModuleName }}/user"
	"time"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
	_ "github.com/lib/pq"
	"github.com/spf13/cobra"
)

var {{ .CurrentCommand }}Cmd = &cobra.Command{
	Use:   "{{ .CurrentCommand }}",
	Short: "Start API server",
	Long:  `Start API server`,
	Run:   RunCommand,
}

func init() {
	rootCmd.AddCommand({{ .CurrentCommand }}Cmd)
}

func RunCommand(cmd *cobra.Command, args []string) {

	config := config.Init()
	postgresDB := postgres.Init(config)
	// mongoDB := mongo.Init(config)

	e := echo.New()
	g := e.Group("/api/v1")

	jwtKey := config.JWTKey
	if len(jwtKey) == 0 {
		jwtKey = "MEZGMEFDRTYtRTEyRS00RTdGLUJCNjYtMTVGODc4RUE4NjIyCg=="
	}

	authenticator := api.NewAppAuthenticator(jwtKey)

	authMiddleware, err := api.CreateAuthMiddleware(authenticator)

	if err != nil {
		log.Fatal(err)
	}

	e.Use(middleware.CORS())
	g.Use(middleware.CORS())
	g.Use(authMiddleware...)
	g.Use(middleware.Logger())

	userRepo := user.NewRepo(postgresDB)

	userService := user.NewService(&userRepo)
	authService := auth.NewService(authenticator, userService)

{{ range $serviceName, $apiPaths := .ServiceOperationMap }}
	{{- with index $.ServiceDatabaseMap $serviceName }}
		{{- if eq .Type "postgres" }}
	{{ $serviceName | untitle }}Repo := {{ $serviceName | untitle }}.NewRepo(postgresDB)
		{{- else if eq .Type "mongo" }}	
			{{- with index $.Services $serviceName }}
	{{ $serviceName | untitle }}Collection := mongoDB.Database(config.MongoDatabase).Collection("{{ .Model }}")
	{{ $serviceName | untitle }}Repo := {{ $serviceName | untitle }}.NewRepo({{ $serviceName | untitle }}Collection)
			{{- end }}
		{{- end }}
	{{- end }}
	{{- if not (eq $serviceName "Auth") }}
	{{ $serviceName | untitle }}Service := {{ $serviceName | untitle }}.NewService(&{{ $serviceName | untitle }}Repo)
	{{- end }}
{{ end }}

	serverImpl := api.NewServerImpl(
		{{- range $serviceName, $operation := .ServiceOperationMap }}
		{{ $serviceName | untitle }}Service,
		{{- end }}
	)

	gen.RegisterHandlersWithBaseURL(e, &serverImpl, "api/v1")

	go func() {
		if err := e.Start(fmt.Sprintf("0.0.0.0:%d", config.Port)); err != nil && err != http.ErrServerClosed {
			e.Logger.Fatal("shutting down the server")
		}
	}()

	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt)
	<-quit
	ctx, cancel := context.WithTimeout(context.Background(), 10*time.Second)
	defer cancel()
	if err := e.Shutdown(ctx); err != nil {
		log.Println("Cannot shutdown")
		e.Logger.Fatal(err)
	}

	log.Println("Shutting down")
}
