-- migrate:up
CREATE TABLE admins (
    id BIGSERIAL PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    username TEXT NOT NULL,
    password_hashed TEXT,
    password_salt TEXT,
    status TEXT,
    created_by BIGSERIAL,
    updated_by BIGSERIAL,
    deleted_by BIGSERIAL,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    deleted_at TIMESTAMP
);

CREATE UNIQUE INDEX idx_admins_unique_username ON admins (username);

CREATE TABLE users (
    id BIGSERIAL PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    username TEXT NOT NULL,
    password_hashed TEXT,
    password_salt TEXT,
    status TEXT,
    created_by BIGSERIAL,
    updated_by BIGSERIAL,
    deleted_by BIGSERIAL,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    deleted_at TIMESTAMP
);

CREATE UNIQUE INDEX idx_users_unique_username ON users (username);

{{- range $key, $value := .Databases }}
    {{- range $index, $model := .Models }}
CREATE TABLE {{ $model.Name }} (
    id BIGSERIAL PRIMARY KEY,
    
    {{- range $propertyName, $property := .Properties }}
    {{ $propertyName }} {{ sqlType .Type }}{{ if .NotNull }} NOT NULL {{ end }},
    {{- end }}

    created_by BIGSERIAL,
    updated_by BIGSERIAL,
    deleted_by BIGSERIAL,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    deleted_at TIMESTAMP{{- if or (hasReferences .Properties) .Owner }},{{- end }}

    {{- if hasReferences .Properties }}
        {{ $references := references .Properties }}
        {{- range $propertyName, $property := $references }}
    CONSTRAINT fk_{{ $propertyName }}
        FOREIGN KEY({{ $propertyName }})
            REFERENCES {{ .Ref }}
            ON DELETE CASCADE{{- if not (isLastInMap $propertyName $references) }},{{- end }}
        {{- end }}{{- if .Owner}},{{- end }}
    {{- end }}

    {{- if .Owner}}
    CONSTRAINT fk_created_by_{{ .Owner }}
        FOREIGN KEY(created_by)
            REFERENCES {{ .Owner }}s(id)
            ON DELETE CASCADE,
    CONSTRAINT fk_updated_by_{{ .Owner }}
        FOREIGN KEY(created_by)
            REFERENCES {{ .Owner }}s(id)
            ON DELETE CASCADE,
    CONSTRAINT fk_deleted_by_{{ .Owner }}
        FOREIGN KEY(deleted_by)
            REFERENCES {{ .Owner }}s(id)
            ON DELETE CASCADE
    {{- end }}
);
    {{- end }}
{{- end }}


-- migrate:down
{{- range .Databases }}
    {{- range $index, $model := .Models }}
DROP TABLE {{ $model.Name }};
    {{- end }}
{{- end }}

DROP TABLE users;
DROP TABLE admins;
